<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    <h4>Students List</h4>
    <ul *ngFor="let student of students | async"> 
      <li>Name: {{ student.data.displayName }}</li> 
      <ul>
        <li>Type: {{ student.data.type }}</li>
        <li>Center: {{ student.data.center }}</li>
        <li>Points: {{ student.data.points }}</li>
      </ul>
    </ul>
    <img src="assets/images/filler.png" />
  </div>
</div>


