<div id="header"> 
  <div id="txt1">
    School Monitoring System
  </div>
  <div id="txt2"> 

    <span id="signup"><a routerLink="/login">Log In</a></span> 
  </div>
</div>
    
<div class="cards">
  <div class="card1">
    <div class="container">
    <h4><b>Students</b></h4> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum accusamus odio magni.</p> 
    </div>
  </div> 
  <div class="card2">
    <div class="container">
    <h4><b>Teachers</b></h4> 
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero a vitae nihil commodi itaque temporibus!</p> 
    </div>
  </div>
  <div class="card3">
    <div class="container">
    <h4><b>Mentors</b></h4> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio itaque vero minima porro, iusto quos!</p> 
    </div>
  </div>
</div>

